<!-- .sf-header must contain the links bar and the traditional header for the sticky footer layout -->
<div class="sf-header nav-slide-element" id="topHeader">
  <div class="links-bar">
    <div class="container">
    {% if craft.app.language == 'en-US' %}
      <ul class="">
        <li><a href="/es" title="En Espa&ntilde;ol"><i class="fa fa-refresh"></i> En Espa&ntilde;ol</a></li>
        <li><a href="https://facilities.stanneaz.org/Web/view-schedule.php" title="Calendar"><i class="fa fa-calendar"></i> Calendar</a></li>
        <li><a href="https://stanneaz.flocknote.com/login" target='_blank' title="Flocknote"><i class="fa fa-user"></i> Flocknote</a></li>
        <li><a href="https://phoenix.parishsoftfamilysuite.com/Default.aspx" title="My Own Church"><i class="fa fa-heart-o"></i> My Own Church</a></li>
        <li><a href="/about/times" title="Mass Times"><i class="fa fa-clock-o"></i> Mass Times</a></li>
        <li><a href="/about/contact-us" title="Contact Us"><i class="fa fa-envelope"></i> Contact Us</a></li>
      </ul>
    {% elseif craft.app.language == 'es-US' %}
        
      <ul class="">
        <li><a href="/" title="English"><i class="fa fa-refresh"></i> English</a></li>
        <li><a href="https://facilities.stanneaz.org/Web/view-schedule.php" title="Calendario"><i class="fa fa-calendar"></i> Calendario</a></li>
        <li><a href="https://stanneaz.flocknote.com/login" target='_blank' title="Flocknote"><i class="fa fa-user"></i> Flocknote</a></li>
        <li><a href="https://phoenix.parishsoftfamilysuite.com/Default.aspx" title="My Own Church"><i class="fa fa-heart-o"></i> My Own Church</a></li>
        <li><a href="/es/about/times" title="Horario de Misas"><i class="fa fa-clock-o"></i> Horario</a></li>
        <li><a href="/es/about/contact-us" title="Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
      </ul>
    {% endif %}

    </div> <!-- .container -->
  </div> <!-- .toolbar -->
  <header class="site-header">
    <div class="container clearfix">
      <div class="logo" style="float:left">
      {% if craft.app.language == 'en-US' %}
        <a href="/"><img src="/assets/img/logo.svg" alt="St. Anne Roman Catholic Parish" /></a>
      {% elseif craft.app.language == 'es-US' %}
        <a href="/es/"><img src="/assets/img/logo.svg" alt="St. Anne Roman Catholic Parish" /></a>
      {% endif %}
      </div>
      
      <div class="mobile-menu-toggle visible-xs" data-toggle="mobile-menu">
        <i class="icon-mobile-menu"></i>
      </div>
      
      <form {% if craft.app.language == 'es-US' %}action="https://stanneaz.org/es/buscar"{% else %}action="https://stanneaz.org/search"{% endif %} id="nav-search-small">
            <div class="search-input-wrap">
                <input type="text" name="q" id="nav-search-query3" />
                <input type="submit" value="{{ "Search"|t }}" class="btn btn-light-blue nav-search-btn-small"/>
            </div>
      </form>
      
      <div class="site-menu hidden-xs">
      
<ul {% if craft.app.language == 'es-US' %} class="es_us"{% endif %}>

{% cache globally for 2 days %}
{# Get top-level entries in pages structure (exclude home page)  #}
{% set pages = craft.entries.section('pages').id('not 1').level(1).all() %}

{# Loop through top-level entries #}
{% for page in pages %}

	{# Check if entry has descendants #}
	{% if not page.hasDescendants %}

		{# List navigation item if entry has NO child entries #}
		<li>
			<a href="{{ page.getUrl }}">{{ page.title }}</a>
		</li>

	{% else %}

		{# List navigation item if entry does have child entries #}
		<li class="has-menu">
			<a href="{{ page.getUrl }}">{{ page.title }}</a>
			<ul class="sub-menu">

				{# Get child entries of current iteration's top-level entry #}
				{% set subPages = page.getChildren().all() %}
				
				{# Loop through those 2nd-level entries #}
				{% for subPage in subPages %}

					{# List sub-menu navigation item #}
					<li {% if subPage.hasDescendants and subPage.title != 'Community of Ministries' and subPage.title != 'Comunidad de Ministerios' %}class="has-menu2"{% endif %}>
						<a href="{{ subPage.getUrl }}">{{ subPage.title }}</a>
						{% if subPage.hasDescendants %}
							{% set thirdLevels = subPage.getChildren().all() %}
							<ul class="sub-menu2">
							{% for level3 in thirdLevels %}
								{% if not level3.menuIndent|length %}
									<li>
									<a href="{{ level3.getUrl }}">{{ level3.title }}</a>
									</li>
								{% endif %}
							{% endfor %}
							</ul>
						{% endif %}
					</li>
					{% for level3a in thirdLevels %}
						{% if level3a.menuIndent|length %}
						<li class="menuIndent{% if level3a.hasDescendants %} has-menu2{% endif %}">
							<a href="{{ level3a.getUrl }}">{{ level3a.title }}</a>
							{% if level3a.hasDescendants %}
								{% set fourthLevels = level3a.getChildren().all() %}
								<ul class="sub-menu2">
									{% for level4 in fourthLevels %}
										<li>
										<a href="{{ level4.getUrl }}">{{ level4.title }}</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
						{% endif %}
					{% endfor %}				
						
				{% endfor %} {# end 'subPage in subPages loop' #}
			</ul>
		</li>
	{% endif %}
{% endfor %} {# end 'for page in pages loop' #}
{% endcache %}
    
    <li class="search" id="menusearch">
	    <a href="#" class='search-open' title="Search"><i class="fa fa-search"></i></a>
	    <form {% if craft.app.language == 'es-US' %}action="/es/buscar"{% else %}action="/search"{% endif %} id="nav-search" class="search-form">
	        <div class="search-input-wrap">
	            <i class="fa fa-search" title="Search"></i>
	            <input type="text" name="q" id='nav-search-query' placeholder="{{ "I'm searching for"|t }}..." title="{{ "I'm searching for"|t }}..." />
	        </div>
	    </form>
	</li>
	<li>
	    <a {% if craft.app.language == 'es-US' %}href="/es/comience-aqui"{% else %}href="/start-here"{% endif %} class="btn btn-light-blue">{{ "Start Here"|t }}</a>
	</li>
</ul>

      </div>
    </div>
  </header>
</div> <!-- .sf-header -->
