{% set q = {} %}
{% set filterFor = "" %}
{% set filterId = "" %}
{% set month = "" %}
{% set value = "" %}
{% if craft.app.request.getParam('q') %}
    {% set q = craft.app.request.getParam('q')|split(":") %}
    {% set filterFor = q[0] %}
    {% set filterId = q[1] %}
{% endif %}

{% if filterFor == 'month' %}
    {% set monthValue = filterId|split("|") %}
    {% set month = monthValue[0] %}
    {% set value = monthValue[1] %}
{% endif %}

{% import '_helpers/index' as helpers %}

<form action="" class="content-filters">
  <label class="select" data-action='byspeaker'>
    {% set entryIds = craft.entries.section('media').ids() %}
    {% set authors = craft.entries.section('people').relatedTo({ sourceElement: entryIds }).orderBy('title') %}
    <select name="" id="">
       <option value=''>{{ "Speaker"|t }}</option>
      {% for category in authors.all() %}
        <option value='{{ category.id }}' {% if filterId == category.id %} selected {% endif %}>{{ category.title|t }}</option>
      {% endfor %}﻿
    </select>
  </label>
  <label class="select" data-action='bytopic'>
    {% set categories = craft.categories.relatedTo({ sourceElement: entryIds }).group('mediaTopic').orderBy('title').all() %}
    <select name="" id="">
       <option value=''>{{ "Topic"|t }}</option>
      {% for category in categories %}
        <option value='{{ category.id }}' {% if filterId == category.id %} selected {% endif %}>{{ category.title }}</option>
      {% endfor %}﻿
    </select>
  </label>
  <label class="select" data-action='byseason'>
    <select name="" id="">
       <option value=''>{{ "Season"|t }}</option>
      {% set seasons = craft.categories.relatedTo({ sourceElement: entryIds }).group('mediaSeason').orderBy('title').all() %}
      {% for category in seasons %}
        <option value='{{ category.id }}' {% if filterId == category.id %} selected {% endif %}>{{ category.title|t }}</option>
      {% endfor %}﻿
    </select>
  </label>
  <label class="select" data-action='bymedia'>
    <select name="" id="">
       <option value=''>{{ "Media Type"|t }}</option>
      {% set verses = craft.categories.relatedTo({ sourceElement: entryIds }).group('mediaType').all() %}
      {% for category in verses %}
        <option value='{{ category.id|t }}' {% if filterId == category.id %} selected {% endif %}>{{ category.title }}</option>
      {% endfor %}﻿
    </select>
  </label>
  <label class="select" data-action='bymonth'>
  {% set lastPost = craft.entries.section('media').orderBy('postDate ASC').one() %}
  {% if lastPost|length %}
  {% set lastYear = lastPost.mediaDate|date('Y') %}
    <select name="" id="">
      {{ helpers.month_options(value,lastYear) }} 
    </select>
  {% endif %}
  </label>
</form>