{% paginate craft.entries.section('newsUpdates').limit(10) as entries %}
  <div class="content-summary-list">

    {% for post in entries %}
      <div class="content-summary-block">
        {% if post.postAuthor|length %}
          {% if post.postAuthor[0].postImage|length %}
            <div class="media">
              <img src="{{ post.postAuthor[0].postImage[0].getUrl('tf160') }}" alt="" class="round-avatar" />
            </div>
          {% endif %}
        {% endif %}
        <div class="description">
          <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
          {% set topics = post.newsTopics %}
          {% for topic in topics %}
              <a href='?q=topic:{{ topic.id }}'>{{ topic.title }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
          <div class="excerpt">
            <p>{{ post.body | trimit(120) }} <a href="{{ post.url }}">{{"Read more"|t}}</a></p>
            <p class="muted">{{ post.postDate|date('F d, Y') }} {% if post.postAuthor|length %} &nbsp;&middot;&nbsp;{{ post.postAuthor[0].title }} {% endif %}</p>
          </div>
        </div>
      </div> <!-- .content-summary-block -->
    {% endfor %}

  </div> <!-- .search-results-list -->

  {% include "partials/_pagination" %}

{% endpaginate %}